.descrWrapper{ 
    display: flex;
    padding: 20px;
}  

.avatar{
    padding: 20px;
    width: 250px;
} 
.avatar img{
    width: 100%;
}

.aboutMe{
    padding: 20px;

} 
.aboutMe .userName{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}
.aboutMe .statusBlock{ 
    font-size: 18px;
    margin-top: 10px;
}