nav{
    grid-area: n;
    background: rgb(202, 49, 49);
}

.nav{
    padding-left: 20px;
    padding-top: 20px;
}

.item{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}

.active{
    color: blue;
}