.app-wrapper{
    display: grid;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr; 
    margin: 0 auto;
    width: 1200px;
}

header{
    grid-area: h;
    background: #383737;
}
header img{
    width: 5%;
}

nav{
    grid-area: n;
    background: rgb(202, 49, 49);
}

.profile{
    grid-area: c;
    background: rgb(179, 163, 163);
}
.profile img{
    width: 80%; 
}