/* Page */
.dialogPage{
    display: grid;
    grid-template-columns: 1.5fr 8fr; 
}


/* messagesBlock */
.messagesBlock{
    padding: 20px;
}
.message{
    padding: 10px; 
    margin: 10px 0;
    background: #e5e5e5;
}


/* dialogsBlock */  
.dialogsBlock{
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.dialogItem{ 
    margin-bottom: 15px;
}
.dialogItem a{
    text-decoration: none;
    color: white;  
    display: flex;
    align-items: center;
}

.dialogItem a  img{
    width: 40px;
    border-radius: 100%;
    margin-right: 5px;
}

.active{
    color: yellow;
}